<div class="profile-panel">
  <div class="header-card">
    <!-- Banner/Background Image -->
    <div class="banner-image">
      <!-- Profile Photo (Circle) -->
      <img src="https://th.bing.com/th/id/OIP.0a6Po1ilKPWB_157IltBygHaKe?pid=ImgDet&rs=1" alt="Profile Photo" class="profile-photo">
    </div>

    <!-- User Information -->
    <div class="user-info">
      <h2>My Name is Ellis</h2>
      <p>Email: ellis@example.com</p>
      <p>Phone: +123456789</p>
    </div>
  </div>
</div>

<div class="profile-panel">
  <div class="job-card">
    <p> My name is Ellis</p>
  </div>
</div>
