<!-- <div class="container">
  <form [formGroup]="registrationForm" class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput name="firstname" [(ngModel)]="userData.firstName" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name </mat-label>
            <input matInput name="lastName" [(ngModel)]="userData.lastName" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Email"
        [(ngModel)]="userData.email"
        name="email"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Username"
        [(ngModel)]="userData.username"
        name="username"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Gender</mat-label>
      <input
        matInput
        placeholder="Gender"
        [(ngModel)]="userData.gender"
        name="gender"
      />
    </mat-form-field>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          placeholder="Ex. 100 Main St"
          [(ngModel)]="userData.address"
          name="address"
        >
1600 Amphitheatre Pkwy</textarea
        >
      </mat-form-field>
    </p>

    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        placeholder="+263XXXXXXX"
        [(ngModel)]="userData.phoneNumber"
        name="phoneNumber"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Enter Password"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Re-Enter Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Re-Enter Password"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>
  </form>
  <div class="button-row">
    <button mat-raised-button color="primary">Register</button>
    <button mat-raised-button color="primary">Login</button>
  </div>
</div> -->
<div class="container">
  <form [formGroup]="registrationForm" class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name </mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Gender</mat-label>
      <input matInput placeholder="Gender" formControlName="gender" />
    </mat-form-field>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          placeholder="Ex. 100 Main St"
          formControlName="address"
        ></textarea>
      </mat-form-field>
    </p>

    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="+263XXXXXXX" formControlName="phoneNumber" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Enter Password"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Re-Enter Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Re-Enter Password"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>
  </form>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Register
    </button>
    <button mat-raised-button color="primary">Login</button>
  </div>
</div>
