// /* job-list.component.css */
// .job-list-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   gap: 20px; /* Add the desired space between job cards */
// }

// .job-card {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 200px; /* Set a fixed height for the job cards to keep them consistent */
//   padding: 20px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }
/* job-list.component.css */
.job-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Add the desired space between job cards */
}

.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; /* Set a fixed height for the job cards to keep them consistent */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Add the border with a color of your choice */
  border-radius: 8px; /* Add rounded edges */
}
